section.pt-page(data-id='biography')
    .section-inner.custom-page-content
        .page-header.color-1
            h2 Биография
        .page-content
            .row
                .col-sm-6.col-md-6.col-lg-6
                    .block
                        .block-title
                            h3 Образование
                        .timeline
                            // Education 1
                            .timeline-item
                                h4.item-title Курсы повышения квалификации
                                span.item-period 2010
                                span.item-small Специальность
                                p.item-description.

                            // / Education 1
                            // Education 2
                            .timeline-item
                                h4.item-title ОНМедУ
                                span.item-period 1999
                                span.item-small Врач-стоматолог
                                p.item-description.

                            // / Education 2
                            // Education 3
                            .timeline-item
                                h4.item-title Медицинское училище №3
                                span.item-period 1992
                                span.item-small Фельдшер
                                p.item-description.

                            // / Education 3
                .col-sm-6.col-md-6.col-lg-6
                    .block
                        .block-title
                            h3 Опыт Работы
                        .timeline
                            // Experience 1
                            .timeline-item
                                h4.item-title ЧП Чубарова Н.Г.
                                span.item-period 2016 - настоящее время
                                span.item-small Врач-стоматолог
                                p.item-description.

                            // / Experience 1
                            // Experience 2
                            .timeline-item
                                h4.item-title ЧП "Ирастома"
                                span.item-period 2013 - 2016
                                span.item-small Врач-стоматолог
                                p.item-description.

                            // / Experience 2
                            // Experience 3
                            .timeline-item
                                h4.item-title ЧП "ДентАрт"
                                span.item-period 2008 - 2013
                                span.item-small Врач-стоматолог
                                p.item-description.

                            // / Experience 3
            //.row
            //    .col-sm-6.col-md-6.col-lg-6
            //        .block
            //            .block-title
            //                h3 Design #[span Skills]
            //            .skills-info
            //                h4 Web Design
            //                .skill-container
            //                    .skill-percentage.skill-1
            //                h4 Graphic Design
            //                .skill-container
            //                    .skill-percentage.skill-2
            //                h4 Print Design
            //                .skill-container
            //                    .skill-percentage.skill-3
            //    .col-sm-6.col-md-6.col-lg-6
            //        .block
            //            .block-title
            //                h3 Coding #[span Skills]
            //            .skills-info
            //                h4 HTML5
            //                .skill-container
            //                    .skill-percentage.skill-4
            //                h4 CSS3/LESS/SASS
            //                .skill-container
            //                    .skill-percentage.skill-5
            //                h4 jQuery
            //                .skill-container
            //                    .skill-percentage.skill-6
            // Download Resume Button
            .row
                .col-sm-12.col-md-12.col-lg-12
                    .block
                        .center.download-resume
                            a.btn.btn-secondary(data-toggle='modal', href='#modal-id') Записаться на прием
            // End of Download Resume Button