section.pt-page(data-id='contact')
    .section-inner.custom-page-content
        .page-header.color-1
            h2 Contacts
        .page-content
            .row
                .col-sm-6.col-md-6
                    .block-title
                        h3 Address on #[span Map]
                    // Google Map
                    #map.map
                    // End of Google Map
                    .contact-info-block
                        .ci-icon
                            i.fa.fa-map-marker
                        .ci-text
                            h5 Odessa, Ukraine
                    .contact-info-block
                        .ci-icon
                            i.fa.fa-envelope
                        .ci-text
                            h5
                                a(href="mailto:happysmile.n.g@gmail.com") happysmile.n.g@gmail.com
                    .contact-info-block
                        .ci-icon
                            i.fa.fa-phone
                        .ci-text
                            h5
                                a(href="tel:+380677955930") +38 067 795 5930
                    //.contact-info-block
                    //    .ci-icon
                    //        i.fa.fa-check
                    //    .ci-text
                    //        h5 Freelance Available
                .col-sm-6.col-md-6
                    .block-title
                        h3 Contact #[span Form]
                    form.contact-form(method='post', action='', novalidate='true')
                        .messages
                        .controls
                            .form-group.form-group-with-icon
                                i.fa.fa-user
                                label Full Name
                                input#form_name.form-control(type='text', name='name', placeholder='', required='required', data-error='required')
                                .form-control-border
                                .help-block.with-errors
                            .form-group.form-group-with-icon
                                i.fa.fa-envelope
                                label E-mail address
                                input#form_email.form-control(type='email', name='email', placeholder='', required='required', data-error='invalid e-mail.')
                                .form-control-border
                                .help-block.with-errors
                            .form-group.form-group-with-icon
                                i.fa.fa-comment
                                label Text message
                                textarea#form_message.form-control(name='message', placeholder='', rows='4', required='required', data-error='fill your message, please')
                                .form-control-border
                                .help-block.with-errors
                            input.button.btn-send.disabled(type='submit', value='Send message')