section.pt-page(data-id='contact')
    .section-inner.custom-page-content
        .page-header.color-1
            h2 Контакты
        .page-content
            .row
                .col-sm-6.col-md-6
                    .block-title
                        h3 Клиника на #[span Карте]
                    // Google Map
                    #map.map
                    // End of Google Map
                    .contact-info-block
                        .ci-icon
                            i.fa.fa-map-marker
                        .ci-text
                            h5 Одесса, Украина
                    .contact-info-block
                        .ci-icon
                            i.fa.fa-envelope
                        .ci-text
                            h5
                                a(href="mailto:happysmile.n.g@gmail.com") happysmile.n.g@gmail.com
                    .contact-info-block
                        .ci-icon
                            i.fa.fa-phone
                        .ci-text
                            h5
                                a(href="tel:+38 093 575 6401") +38 093 575 6401
                    //.contact-info-block
                    //    .ci-icon
                    //        i.fa.fa-check
                    //    .ci-text
                    //        h5 Freelance Available
                .col-sm-6.col-md-6
                    .block-title
                        h3 Контактная #[span Форма]
                    form#contact-form(method='post', action='', novalidate='true')
                        .messages
                        .controls
                            .form-group.form-group-with-icon
                                i.fa.fa-user
                                label Полное Имя
                                input#form_name.form-control(type='text', name='name', placeholder='', required='required', data-error='Имя обязательно для заполнения.')
                                .form-control-border
                                .help-block.with-errors
                            .form-group.form-group-with-icon
                                i.fa.fa-envelope
                                label E-mail адрес
                                input#form_email.form-control(type='email', name='email', placeholder='', required='required', data-error='Введите действительный e-mail.')
                                .form-control-border
                                .help-block.with-errors
                            .form-group.form-group-with-icon
                                i.fa.fa-comment
                                label Сообщение для меня
                                textarea#form_message.form-control(name='message', placeholder='', rows='4', required='required', data-error='Пожалуйста, введите собщение.')
                                .form-control-border
                                .help-block.with-errors
                            input.button.btn-send.disabled(type='submit', value='Отправить сообщение')