section.pt-page(data-id='gallery')
    .section-inner.custom-page-content
        .page-header.color-1
            h2 Certificates
        .page-content
            // Portfolio Content
            .portfolio-content
                // Portfolio filter
                ul#portfolio_filters.portfolio-filters
                    li
                        a.filter.btn.btn-sm.btn-link.active(data-group='all') All
                    li.active
                        a.filter.btn.btn-sm.btn-link(data-group='media') Certificates
                    li
                        a.filter.btn.btn-sm.btn-link(data-group='clinic') Cabinet
                #portfolio_grid.portfolio-grid.portfolio-masonry.masonry-grid-3.shuffle
                    figure.item.shuffle-item.filtered(data-groups='["all", "media"]')
                         a.lightbox(href='/static/img/certificates/Certificate_of_good_standing.jpg')
                            img(src='/static/img/certificates/Certificate_of_good_standing.jpg', alt='Certificate of good standing')
                            div
                                h5.name Certificate of good standing
                                small Certificate
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all", "media"]')
                        a.lightbox(href='/static/img/certificates/Ukrainian_medical_council.jpg')
                            img(src='/static/img/certificates/Ukrainian_medical_council.jpg', alt='Ukrainian medical council')
                            div
                                h5.name Ukrainian medical council
                                small Certificate
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all", "media"]')
                        a.lightbox(href='/static/img/certificates/certification.jpg')
                            img(src='/static/img/certificates/certification.jpg', alt='certification')
                            div
                                h5.name Certification
                                small Certificate
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all","media"]')
                        a.lightbox(href='/static/img/certificates/certificate.jpg')
                            img(src='/static/img/certificates/certificate.jpg', alt='certificate')
                            div
                                h5.name Certificate
                                small Certificate
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all",  "media"]')
                        a.lightbox(href='/static/img/certificates/certificate2.jpg')
                            img(src='/static/img/certificates/certificate2.jpg', alt='certificate')
                            div
                                h5.name Certificate
                                small Certificate
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all","media"]')
                        a.lightbox(href='/static/img/certificates/certificate3.jpg')
                            img(src='/static/img/certificates/certificate3.jpg', alt='certificate')
                            div
                                h5.name Certificate
                                small Certificate
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all","media"]')
                        a.lightbox(href='/static/img/certificates/diploma.jpg')
                            img(src='/static/img/certificates/diploma.jpg', alt='diploma')
                            div
                                h5.name Diploma
                                small Diploma
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all","clinic"]')
                        a.lightbox(href='/static/img/clinic/dentist-clinic-3.jpg')
                            img(src='/static/img/clinic/dentist-clinic-3.jpg', alt='diploma')
                            div
                                h5.name
                                small
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all","clinic"]')
                        a.lightbox(href='/static/img/clinic/dentist-clinic-4.jpg')
                            img(src='/static/img/clinic/dentist-clinic-4.jpg', alt='diploma')
                            div
                                h5.name
                                small
                                i.fa.fa-file-text-o
                    figure.item.shuffle-item.filtered(data-groups='["all","clinic"]')
                        a.lightbox(href='/static/img/clinic/dentist-clinic-5.jpg')
                            img(src='/static/img/clinic/dentist-clinic-5.jpg', alt='diploma')
                            div
                                h5.name
                                small
                                i.fa.fa-file-text-o
                    // /Portfolio Item 12
                // /Portfolio Grid
            // /Portfolio Content