header#site_header.header.mobile-menu-hide
    .header-content
        .site-title-block.mobile-hidden
            .site-title #[span Natalya] Chubarova
        // Navigation
        .site-nav
            // Main menu
            ul#nav.site-main-menu
                -
                    var links = [
                        {href: '#home', text: 'Main'},
                        {href: '#biography', text: 'Biography'},
                        {href: '#services', text: 'Services'},
                        {href: '#gallery', text: 'Certificates'},
                        //{href: '#blog', text: 'Блог'},
                        {href: '#contact', text: 'Contacts'}
                    ];

                if (mainTitle)
                    each link in links
                        li
                            a.pt-trigger(href=link.href)=link.text
                else
                    li
                        a.pt-trigger(href='/')=links[0].text
            // /Main menu
        // Navigation

// Mobile Header
.mobile-header.mobile-visible
    .mobile-logo-container
        .mobile-site-title Natalya Chubarova
    a.menu-toggle.mobile-visible
        i.fa.fa-bars
// /Mobile Header