section.pt-page(data-id='services')
    .section-inner.custom-page-content
        .page-header.color-1
            h2 Services
        .page-content
            // My Services
            .row
                .col-sm-12.col-md-12
                    .block-title
                        h3 My #[span Services]
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            // <i class="service-icon fa fa-shopping-cart"></i>
                            .service-image
                                img(src='static/img/service/svg/029-brushing-teeth.svg', alt='Responsive Design')
                            h4 Teeth cleaning
                            p.
                                professional tooth cleaning with fluoridation office whitening (in the dentist's chair)
                                 and home (making individual night mouth guards)
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='static/img/service/svg/007-prosthesis.svg', alt='Prosthetics')
                            h4 Prosthetics
                            p.
                                all types of prosthetics of teeth of any complexity, the shortest production time (1-3 days).
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-Implantation
                                img(src='static/img/service/svg/009-implants.svg', alt='Creativity')
                            h4 Implantation
                            p.
                                dental implants and implant prosthetics
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='static/img/service/svg/027-molar.svg', alt='Aesthetics')
                            h4 Aesthetics
                            p.
                                aesthetic dentistry and image prosthetics: veneers, ceramic lining, rhinestones, skyces
                                made of precious metals
            .row
                .col-sm-12.col-md-12
                    .block-title.block-special-offer
                        h4.text-center
                            span Special Offers!
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            // <i class="service-icon fa fa-shopping-cart"></i>
                            .service-image
                                img(src='static/img/service/svg/019-chair.svg', alt='Tooth shots')
                            h4
                            p.
                                diagnostic images of teeth on #[b visiograph] - low-dose x-ray machine with image display on the monitor
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='static/img/service/svg/004-dentist.svg', alt='Tools')
                            h4
                            p.
                                the possibility of using disposable individual dental instruments
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='static/img/service/svg/035-medical-record.svg', alt='Medical record')
                            h4
                            p.
                                creation of an electronic patient record with saving of visiograms and other x-ray studies
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='static/img/service/svg/001-tooth-6.svg', alt='Full range of services')
                            h4
                            p.
                                receiving high-quality services from one specialist
            // End of My Services
            // Clients
            //.row
            //    .col-sm-12.col-md-12
            //        .block-title
            //            h3 Пациенты
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='static/img/clients/client_1.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='static/img/clients/client_2.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='static/img/clients/client_3.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='static/img/clients/client_4.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='static/img/clients/client_5.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='static/img/clients/client_6.png', alt='image')
            // End of Clients
            // Testimonials
            .row
                .col-sm-12.col-md-12
                    .block-title
                        h3 Recommendations
                    .testimonials.owl-carousel
                        // Testimonial 1
                        .testimonial-item
                            // Testimonial Author
                            .testimonial-credits
                                // Picture
                                .testimonial-picture
                                    img(src='static/img/testimonials/testimonial_photo_1.jpg', alt='')
                                // /Picture
                                // Testimonial author information
                                .testimonial-author-info
                                    p.testimonial-author Andrew
                                    p.testimonial-firm
                            // /Testimonial author information
                            // Testimonial Content
                            .testimonial-content
                                .testimonial-text
                                    p.
                                        "I had complications after a fracture of the jaw. An infection developed.
                                        Natalya Grigoryevna fixed the problem in just 4 sessions."
                            // /Testimonial Content
                        // End of Testimonial 1
                        // Testimonial 2
                        .testimonial-item
                            // Testimonial Author
                            .testimonial-credits
                                // Picture
                                .testimonial-picture
                                    img(src='static/img/testimonials/testimonial_photo_2.jpg', alt='')
                                // /Picture
                                // Testimonial author information
                                .testimonial-author-info
                                    p.testimonial-author Sonia
                                    p.testimonial-firm
                            // /Testimonial author information
                            // Testimonial Content
                            .testimonial-content
                                .testimonial-text
                                    p.
                                        "Natalya Grigoryevna is my personal dentist from an early age. Every six months
                                         I undergo an medical examination with her and because of this I do not know any
                                         problems with ьн teeth."
                            // /Testimonial Content
                        // End of Testimonial 2
                        // Testimonial 3
                        .testimonial-item
                            // Testimonial Author
                            .testimonial-credits
                                // Picture
                                .testimonial-picture
                                    img(src='static/img/testimonials/testimonial_photo_3.jpg', alt='')
                                // /Picture
                                // Testimonial author information
                                .testimonial-author-info
                                    p.testimonial-author Dmitry
                                    p.testimonial-firm
                            // /Testimonial author information
                            // Testimonial Content
                            .testimonial-content
                                .testimonial-text
                                    p.
                                        "The best dentist I've ever had. I am very glad that I got into her chair. Do
                                        not experiment on your health, consult a professional."
                            // /Testimonial Content
                        // End of Testimonial 3
            // End of Tesimonials
            // Pricing
            //.row
            //    .col-sm-12.col-md-12
            //        .block-title
            //            h3 Стоимость услуг
            //        .lm-pricing.row.clearfix
            //            .lm-package-wrap.col-md-4.default-col
            //                .lm-package
            //                    .lm-heading-row
            //                        span Plan 1
            //                    .lm-pricing-row
            //                        span $64
            //                        small lorem ipsum
            //                    .lm-button-row
            //                        a.btn.btn-primary(href='#', target='_self') Free Trial
            //                    .lm-default-row Lorem ipsum dolor
            //                    .lm-default-row Pellentesque scelerisque
            //                    .lm-default-row Morbi eu sagittis
            //                    .lm-default-row
            //            .lm-package-wrap.col-md-4.highlight-col
            //                .lm-package
            //                    .lm-heading-row
            //                        span Plan 2
            //                    .lm-pricing-row
            //                        span $128
            //                        small lorem ipsum
            //                    .lm-button-row
            //                        a.btn.btn-primary(href='#', target='_self') Free Trial
            //                    .lm-default-row Lorem ipsum dolor
            //                    .lm-default-row Pellentesque scelerisque
            //                    .lm-default-row Morbi eu sagittis
            //                    .lm-default-row Donec non diam
            //                    .lm-default-row
            //            .lm-package-wrap.col-md-4.default-col
            //                .lm-package
            //                    .lm-heading-row
            //                        span Plan 3
            //                    .lm-pricing-row
            //                        span $256
            //                        small lorem ipsum
            //                    .lm-button-row
            //                        a.btn.btn-primary(href='#', target='_self') Free Trial
            //                    .lm-default-row Lorem ipsum dolor
            //                    .lm-default-row Pellentesque scelerisque
            //                    .lm-default-row Morbi eu sagittis
            //                    .lm-default-row Donec non diam
            //                    .lm-default-row Aenean nec libero
            // End of Pricing