doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= mainTitle || articleTitle
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='description', content='Врач-стоматолог высшей категории вот уже более десяти лет. Основная стратегия - предоставлять своим пациентам только высококачественные услуги и отвечать за результат')
        meta(name='keywords', content='дантист, стоматолог, врач-стоматолог, Чубарова, Наталья, Чубарова Наталья, Одесса, стоматология, зубы')
        meta(name='author', content='esherApe')
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='/static/css/components.min.css', type='text/css')
        link(rel='stylesheet', href='/static/css/style.min.css', type='text/css')
        script(src='http://code.jquery.com/jquery-2.1.3.min.js', integrity='sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=', crossorigin='anonymous')
        script(src='/static/js/modernizr.custom.js')
    body.material-template
        // Loading animation
        .preloader
            .preloader-animation
                .preloader-spinner
        // Loading animation
        #page.page
            // Header
            include partials/header
            // Header
            // Main Content
            #main.site-main
                // Page changer wrapper
                .pt-wrapper
                    // Content
                    block content
                    // Content
                // Page changer wrapper
            // Main Content
        include partials/footer
        #modal-id.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title Контактная #[span Форма]
                    .modal-body
                        form#contact-form(method='post', action='', novalidate='true')
                            .messages
                            .controls
                                .form-group.form-group-with-icon
                                    i.fa.fa-user
                                    label Полное Имя
                                    input#form_name.form-control(type='text', name='name', placeholder='', required='required', data-error='Имя обязательно для заполнения.')
                                    .form-control-border
                                    .help-block.with-errors
                                .form-group.form-group-with-icon
                                    i.fa.fa-envelope
                                    label E-mail адрес
                                    input#form_email.form-control(type='email', name='email', placeholder='', required='required', data-error='Введите действительный e-mail.')
                                    .form-control-border
                                    .help-block.with-errors
                                .form-group.form-group-with-icon
                                    i.fa.fa-comment
                                    label Сообщение для меня
                                    textarea#form_message.form-control(name='message', placeholder='', rows='4', required='required', data-error='Пожалуйста, введите собщение.')
                                    .form-control-border
                                    .help-block.with-errors
                    .modal-footer(style='border: 0')
                        a.btn.btn-secondary(type='button', data-dismiss='modal', style='margin-right: 15px') Закрыть
                        input.button.btn-send.disabled(type='submit', value='Отправить сообщение')
        script(type='text/javascript', src='/static/js/components.min.js')
        script(type='text/javascript', src='/static/js/script.min.js')
        script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAib0jnhRrfpGV2cjOp-eEFe9siMUcU7N0&callback=myMap')
        #page-ajax-loaded
