extends layout

block content
    // Subpages
    .subpages
        // Home Subpage
        include partials/home
        // End of Home Subpage
        // Resume Subpage
        include partials/biography
        // End of Resume Subpage
        // Services Subpage
        include partials/services
        // End of Services Subpage
        // Portfolio Subpage
        include partials/gallery
        // /Portfolio Subpage
        // Blog Subpage
        include partials/blog
        // /Blog Subpage
        // Contact Subpage
        include partials/contact
        // End Contact Subpage
