doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= mainTitle || articleTitle
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='description', content='PRO Card - Material Resume / CV / vCard Template')
        meta(name='keywords', content='vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio')
        meta(name='author', content='lmtheme')
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='css/components.min.css', type='text/css')
        link(rel='stylesheet', href='css/style.min.css', type='text/css')
        script(src='http://code.jquery.com/jquery-2.1.3.min.js', integrity='sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=', crossorigin='anonymous')
        script(src='js/modernizr.custom.js')
    body.material-template
        // Loading animation
        .preloader
            .preloader-animation
                .preloader-spinner
        // /Loading animation
        #page.page
            // Header
            include partials/header
            // /Header
            // Main Content
            #main.site-main
                // Page changer wrapper
                .pt-wrapper
                    //Content
                    block content
                    // /Content
                // /Page changer wrapper
            // /Main Content
        include partials/footer
        script(type='text/javascript', src='js/components.min.js')
        script(type='text/javascript', src='js/script.min.js')
        // <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx-29Yh0LpLpZ6g3-RvGiSoVN2KAG4eKA"></script>
        // <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        // <script type="text/javascript" src="js/jquery.googlemap.js"></script>
        #page-ajax-loaded
