header#site_header.header.mobile-menu-hide
    .header-content
        .site-title-block.mobile-hidden
            .site-title Чубарова #[span Наталья]
        // Navigation
        .site-nav
            // Main menu
            ul#nav.site-main-menu
                -
                    var links = [
                        {href: '#home', text: 'Главная'},
                        {href: '#resume', text: 'Опыт'},
                        {href: '#services', text: 'Услуги'},
                        {href: '#portfolio', text: 'Работа'},
                        {href: '#blog', text: 'Блог'},
                        {href: '#contact', text: 'Контакты'}
                    ];

                if (mainTitle)
                    each link in links
                        li
                            a.pt-trigger(href=link.href)=link.text
                else
                    li
                        a.pt-trigger(href='/')=links[0].text
            // /Main menu
        // Navigation

// Mobile Header
.mobile-header.mobile-visible
    .mobile-logo-container
        .mobile-site-title Чубарова Наталья
    a.menu-toggle.mobile-visible
        i.fa.fa-bars
// /Mobile Header