header#site_header.header.mobile-menu-hide
    .header-content
        .site-title-block.mobile-hidden
            .site-title
                | Чубарова
                span  Наталья
        // Navigation
        .site-nav
            // Main menu
            ul#nav.site-main-menu
                li
                    a.pt-trigger(href='#home') Главная
                    // href value = data-id without # of .pt-page.
                li.active
                    a.pt-trigger(href='#resume') Опыт
                li
                    a.pt-trigger(href='#services') Услуги
                li
                    a.pt-trigger(href='#portfolio') Работа
                li
                    a.pt-trigger(href='#blog') Блог
                li
                    a.pt-trigger(href='#contact') Контакты
            // /Main menu
        // Navigation

// Mobile Header
.mobile-header.mobile-visible
    .mobile-logo-container
        .mobile-site-title Чубарова Наталья
    a.menu-toggle.mobile-visible
        i.fa.fa-bars
// /Mobile Header