section.pt-page(data-id='home')
    .section-inner.start-page-content
        .page-header
            .row
                .col-sm-4.col-md-4.col-lg-4
                    .photo
                        img(src='img/photo.jpg', alt='')
                .col-sm-8.col-md-8.col-lg-8
                    .title-block
                        h1 Чубарова Наталья
                            .sp-subtitle Врач-стоматолог высшей категории
                    .social-links
                        a(href='#')
                            i.fa.fa-twitter
                        a(href='https://www.facebook.com/profile.php?id=100005305636404')
                            i.fa.fa-facebook
                        a(href='#')
                            i.fa.fa-instagram
        .page-content
            .row
                .col-sm-6.col-md-6.col-lg-6
                    .about-me
                        .block-title
                            h3 #[span О] себе
                        p.
                            Здравствуйте! Меня зовут Наталья. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aenean fermentum ullamcorper sem, at placerat dolor volutpat ac. Duis
                            nulla enim, condimentum nec ultricies.
                    .download-resume
                        a.btn.btn-secondary(href='#') Записаться на прием
                .col-sm-6.col-md-6.col-lg-6
                    ul.info-list
                        li
                            span.title Расположение
                            span.value г.Одесса, Украина
                        li
                            span.title Место работы
                            span.value "Центр Здоровья"
                        li
                            span.title Адрес
                            span.value ул. М.Говорова 10/1а
                        li
                            span.title E-mail
                            span.value
                                a(href='mailto:email@example.com') email@example.com
                        li
                            span.title Телефон
                            span.value
                                a(href='tel:+38 093 575 6401') +38 093 575 6401
                        li
                            span.title
                            span.value.available