section.pt-page(data-id='home')
    .section-inner.start-page-content
        .page-header
            .row
                .col-sm-4.col-md-4.col-lg-4
                    .photo
                        img(src='img/photo.png', alt='')
                .col-sm-8.col-md-8.col-lg-8
                    .title-block
                        h1 Чубарова Наталья
                        .owl-carousel.text-rotation
                            .owl-stage-outer
                                .owl-stage
                                    .owl-item.active
                                        .item
                                            .sp-subtitle Web Designer
                                    .owl-item
                                        .item
                                            .sp-subtitle Frontend-developer
                            .owl-nav.disabled
                                .owl-prev prev
                                .owl-next next
                            .owl-dots.disabled
                    .social-links
                        a(href='#')
                            i.fa.fa-twitter
                        a(href='#')
                            i.fa.fa-facebook
                        a(href='#')
                            i.fa.fa-instagram
        .page-content
            .row
                .col-sm-6.col-md-6.col-lg-6
                    .about-me
                        .block-title
                            h3 #[span О] себе
                        p.
                            Hello! I’m Alex Smith. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aenean fermentum ullamcorper sem, at placerat dolor volutpat ac. Duis
                            nulla enim, condimentum nec ultricies.
                    .download-resume
                        a.btn.btn-secondary(href='') Download Resume
                .col-sm-6.col-md-6.col-lg-6
                    ul.info-list
                        li
                            span.title Age
                            span.value 29
                        li
                            span.title Residence
                            span.value USA
                        li
                            span.title Address
                            span.value Los Angeles, USA
                        li
                            span.title e-mail
                            span.value
                                a(href='mailto:email@example.com') email@example.com
                        li
                            span.title Phone
                            span.value +0123 123 456 789
                        li
                            span.title Freelance
                            span.value.available Available