section.pt-page(data-id='resume')
    .section-inner.custom-page-content
        .page-header.color-1
            h2 Resume
        .page-content
            .row
                .col-sm-6.col-md-6.col-lg-6
                    .block
                        .block-title
                            h3 Education
                        .timeline
                            // Education 1
                            .timeline-item
                                h4.item-title Specialization Course
                                span.item-period 2010
                                span.item-small Apple Inc.
                                p.item-description
                                    | Mauris magna sapien, pharetra consectetur
                                    | fringilla vitae, interdum sed tortor.
                            // / Education 1
                            // Education 2
                            .timeline-item
                                h4.item-title Specialization Course
                                span.item-period 2010
                                span.item-small Apple Inc.
                                p.item-description
                                    | Mauris magna sapien, pharetra consectetur
                                    | fringilla vitae, interdum sed tortor.
                            // / Education 2
                            // Education 3
                            .timeline-item
                                h4.item-title Specialization Course
                                span.item-period 2010
                                span.item-small Apple Inc.
                                p.item-description
                                    | Mauris magna sapien, pharetra consectetur
                                    | fringilla vitae, interdum sed tortor.
                            // / Education 3
                .col-sm-6.col-md-6.col-lg-6
                    .block
                        .block-title
                            h3 Experience
                        .timeline
                            // Experience 1
                            .timeline-item
                                h4.item-title Frontend-developer
                                span.item-period Dec 2012 - Current
                                span.item-small Web Agency
                                p.item-description
                                    | Mauris magna sapien, pharetra consectetur
                                    | fringilla vitae, interdum sed tortor.
                            // / Experience 1
                            // Experience 2
                            .timeline-item
                                h4.item-title Web Designer
                                span.item-period Dec 2011 - Nov 2012
                                span.item-small Apple Inc.
                                p.item-description
                                    | Mauris magna sapien, pharetra consectetur
                                    | fringilla vitae, interdum sed tortor.
                            // / Experience 2
                            // Experience 3
                            .timeline-item
                                h4.item-title Graphic Designer
                                span.item-period Jan 2010 - Dec 2011
                                span.item-small Apple Inc.
                                p.item-description
                                    | Mauris magna sapien, pharetra consectetur
                                    | fringilla vitae, interdum sed tortor.
                            // / Experience 3
            .row
                .col-sm-6.col-md-6.col-lg-6
                    .block
                        .block-title
                            h3
                                | Design
                                span Skills
                        .skills-info
                            h4 Web Design
                            .skill-container
                                .skill-percentage.skill-1
                            h4 Graphic Design
                            .skill-container
                                .skill-percentage.skill-2
                            h4 Print Design
                            .skill-container
                                .skill-percentage.skill-3
                .col-sm-6.col-md-6.col-lg-6
                    .block
                        .block-title
                            h3
                                | Coding
                                span Skills
                        .skills-info
                            h4 HTML5
                            .skill-container
                                .skill-percentage.skill-4
                            h4 CSS3/LESS/SASS
                            .skill-container
                                .skill-percentage.skill-5
                            h4 jQuery
                            .skill-container
                                .skill-percentage.skill-6
            // Download Resume Button
            .row
                .col-sm-12.col-md-12.col-lg-12
                    .block
                        .center.download-resume
                            a.btn.btn-secondary(href='#') Download Resume
            // End of Download Resume Button