section.pt-page(data-id='services')
    .section-inner.custom-page-content
        .page-header.color-1
            h2 Услуги
        .page-content
            // My Services
            .row
                .col-sm-12.col-md-12
                    .block-title
                        h3 Мои #[span Услуги]
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            // <i class="service-icon fa fa-shopping-cart"></i>
                            .service-image
                                img(src='img/service/svg/029-brushing-teeth.svg', alt='Responsive Design')
                            h4 Чистка зубов
                            p.
                                профессиональная чистка зубов с фторированием отбеливание зубов офисное(в кресле стоматолога)
                                и домашнее(изготовление индивидуальных ночных капп)
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='img/service/svg/007-prosthesis.svg', alt='Протезирование')
                            h4 Протезирование
                            p.
                                все виды протезирования зубов любой сложности, кратчайшие сроки изготовления (1-3 дня).
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='img/service/svg/009-implants.svg', alt='Creativity')
                            h4 Имплантация
                            p.
                                имплантация зубов и протезирование на имплантатах
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='img/service/svg/027-molar.svg', alt='Advetising')
                            h4 Эстетика
                            p.
                                эстетическая стоматология и имиджевое протезирование: виниры, керамические накладки,
                                стразы, скайсы из драгоценных металлов
            .row
                .col-sm-12.col-md-12
                    .block-title.block-special-offer
                        h4.text-center
                            span Специальное предложение!
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            // <i class="service-icon fa fa-shopping-cart"></i>
                            .service-image
                                img(src='img/service/web_design_icon.png', alt='Responsive Design')
                            h4
                            p.
                                диагностические снимки зубов на #[b визиографе] - низкодозовом рентген-аппарате с выведением
                                изображения на монитор
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='img/service/photography_icon.png', alt='Photography')
                            h4
                            p.
                                возможность использования одноразового индивидуального стоматологического инструментария
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='img/service/creativity_icon.png', alt='Creativity')
                            h4
                            p.
                                создание электронной карты пациента с сохранением в ней визиограмм и других
                                рентген-исследований
                .col-sm-6.col-md-3
                    .service-block
                        .service-info
                            .service-image
                                img(src='img/service/advetising_icon.png', alt='Advetising')
                            h4
                            p.
                                получение качественного, гарантированного и максимального по объёму спектра
                                стоматологических услуг у одного специалиста
            // End of My Services
            // Clients
            //.row
            //    .col-sm-12.col-md-12
            //        .block-title
            //            h3 Пациенты
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='img/clients/client_1.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='img/clients/client_2.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='img/clients/client_3.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='img/clients/client_4.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='img/clients/client_5.png', alt='image')
            //        .col-sm-4.col-md-2.subpage-block
            //            .client-block
            //                a(href='#', target='_blank')
            //                    img(src='img/clients/client_6.png', alt='image')
            // End of Clients
            // Testimonials
            .row
                .col-sm-12.col-md-12
                    .block-title
                        h3 Рекомендации
                    .testimonials.owl-carousel
                        // Testimonial 1
                        .testimonial-item
                            // Testimonial Author
                            .testimonial-credits
                                // Picture
                                .testimonial-picture
                                    img(src='img/testimonials/testimonial_photo_1.jpg', alt='')
                                // /Picture
                                // Testimonial author information
                                .testimonial-author-info
                                    p.testimonial-author Maria Richardson
                                    p.testimonial-firm Lindsley's Lumber
                            // /Testimonial author information
                            // Testimonial Content
                            .testimonial-content
                                .testimonial-text
                                    p.
                                        "Phasellus eu nunc tincidunt, ultricies elit vitae,
                                        pretium eros. Sed sed ipsum sed massa."
                            // /Testimonial Content
                        // End of Testimonial 1
                        // Testimonial 2
                        .testimonial-item
                            // Testimonial Author
                            .testimonial-credits
                                // Picture
                                .testimonial-picture
                                    img(src='img/testimonials/testimonial_photo_2.jpg', alt='')
                                // /Picture
                                // Testimonial author information
                                .testimonial-author-info
                                    p.testimonial-author John Doe
                                    p.testimonial-firm Apple Inc.
                            // /Testimonial author information
                            // Testimonial Content
                            .testimonial-content
                                .testimonial-text
                                    p.
                                        "Vivamus porta dapibus tristique. Suspendisse et arcu
                                        eget nisi convallis eleifend nec ac lorem.
                            // /Testimonial Content
                        // End of Testimonial 2
                        // Testimonial 3
                        .testimonial-item
                            // Testimonial Author
                            .testimonial-credits
                                // Picture
                                .testimonial-picture
                                    img(src='img/testimonials/testimonial_photo_3.jpg', alt='')
                                // /Picture
                                // Testimonial author information
                                .testimonial-author-info
                                    p.testimonial-author George McQueen
                                    p.testimonial-firm Harmony House
                            // /Testimonial author information
                            // Testimonial Content
                            .testimonial-content
                                .testimonial-text
                                    p.
                                        "Aliquam congue auctor lectus sed fermentum. Nulla
                                        ultricies tellus quis sapien lacinia egestas."
                            // /Testimonial Content
                        // End of Testimonial 3
            // End of Tesimonials
            // Pricing
            .row
                .col-sm-12.col-md-12
                    .block-title
                        h3 Pricing
                    .lm-pricing.row.clearfix
                        .lm-package-wrap.col-md-4.default-col
                            .lm-package
                                .lm-heading-row
                                    span Plan 1
                                .lm-pricing-row
                                    span $64
                                    small per month
                                .lm-button-row
                                    a.btn.btn-primary(href='#', target='_self') Free Trial
                                .lm-default-row Lorem ipsum dolor
                                .lm-default-row Pellentesque scelerisque
                                .lm-default-row Morbi eu sagittis
                                .lm-default-row
                        .lm-package-wrap.col-md-4.highlight-col
                            .lm-package
                                .lm-heading-row
                                    span Plan 2
                                .lm-pricing-row
                                    span $128
                                    small per month
                                .lm-button-row
                                    a.btn.btn-primary(href='#', target='_self') Free Trial
                                .lm-default-row Lorem ipsum dolor
                                .lm-default-row Pellentesque scelerisque
                                .lm-default-row Morbi eu sagittis
                                .lm-default-row Donec non diam
                                .lm-default-row
                        .lm-package-wrap.col-md-4.default-col
                            .lm-package
                                .lm-heading-row
                                    span Plan 3
                                .lm-pricing-row
                                    span $256
                                    small per month
                                .lm-button-row
                                    a.btn.btn-primary(href='#', target='_self') Free Trial
                                .lm-default-row Lorem ipsum dolor
                                .lm-default-row Pellentesque scelerisque
                                .lm-default-row Morbi eu sagittis
                                .lm-default-row Donec non diam
                                .lm-default-row Aenean nec libero
            // End of Pricing